# PyPDF2

# # for video processing
# opencv-python
# moviepy

# For telegram
yfinance
telethon
schedule
requests
python-dotenv


# For OCR
# fastapi 
# uvicorn 
# python-multipart 
# pillow 
# requests
# PyPDF2
# PyMuPDF
